Source: findmyhash
Section: net
Priority: extra
Maintainer: Kali Developers <devel@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://code.google.com/p/findmyhash/
Vcs-Git: https://gitlab.com/kalilinux/packages/findmyhash.git
Vcs-Browser: https://gitlab.com/kalilinux/packages/findmyhash

Package: findmyhash
Architecture: all
Depends: ${misc:Depends}, python
Description: Crack hashes with online services
 Accepted algorithms are
 .
     MD4 - RFC 1320
     MD5 - RFC 1321
     SHA1 - RFC 3174 (FIPS 180-3)
     SHA224 - RFC 3874 (FIPS 180-3)
     SHA256 - FIPS 180-3
     SHA384 - FIPS 180-3
     SHA512 - FIPS 180-3
     RMD160 - RFC 2857
     GOST - RFC 5831
     WHIRLPOOL - ISO/IEC 10118-3:2004
     LM - Microsoft Windows hash
     NTLM - Microsoft Windows hash
     MYSQL - MySQL 3, 4, 5 hash
     CISCO7 - Cisco IOS type 7 encrypted passwords
     JUNIPER - Juniper Networks $9$ encrypted passwords
     LDAP_MD5 - MD5 Base64 encoded
     LDAP_SHA1 - SHA1 Base64 encoded 
